.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgb(170, 183, 149);
}