body{
    margin: 0;
    padding: 0;
}

.container{
display: flex;
width: 100vw;
height: 100vh;
align-items: center;
justify-content: center;
background-color: aquamarine;

}

.inpt{
    border: 0;
    height: 50px;
  width: 0;
   font-size: 18px;
    position: relative;
    transition: width 0.6s;
}
#input:focus{
    outline: none;
}
#btn{
    width: 50px;
    height: 52px;
    background-color: white;
    border: none;
    font-size: 25px;
    position:relative ;
    left: -4px;
    top: 2px;
}
.active{
    border: 0;
    height: 50px;
    width: 300px;
   font-size: 18px;
    position: relative;
    transition: width 0.6s;
}
#btn:hover{
    cursor: pointer;
}
